---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <p>
    Howdy! I&apos;m a Staff Software Engineer at Indeed working remotely from
    Austin, Texas.
  </p>
  <p>
    Contact me by <a href="mailto:contact@rperce.net">email</a>.
  </p>
</Layout>
