---
export const partial = true;
---

<svg
  id="art"
  width="1"
  height="1"
  viewBox="0 0 100 100"
  version="1.1"
  style={{
    stroke: "#ccc",
    strokeWidth: 0.3,
    strokeLlinecap: "square",
    position: "absolute",
    backgroundPosition: "bottom right",
    bottom: 0,
    right: 0,
    zIndex: -1,
  }}
>
  <line x1="100" y1="10" x2="90" y2="100"></line>
  <line x1="100" y1="20" x2="80" y2="100"></line>
  <line x1="100" y1="30" x2="70" y2="100"></line>
  <line x1="100" y1="40" x2="60" y2="100"></line>
  <line x1="100" y1="50" x2="50" y2="100"></line>
  <line x1="100" y1="60" x2="40" y2="100"></line>
  <line x1="100" y1="70" x2="30" y2="100"></line>
  <line x1="100" y1="80" x2="20" y2="100"></line>
  <line x1="100" y1="90" x2="10" y2="100"></line>
</svg>
<script>
  const resizeSvg = () => {
    const art = document.getElementById("art");
    const size = Math.min(window.innerWidth, window.innerHeight * 0.75) || 600;
    art?.setAttribute("width", "" + size);
    art?.setAttribute("height", "" + size);
  };
  window.addEventListener("resize", resizeSvg);
  resizeSvg();
</script>
