---

---

<footer>
  <span>© 2024</span>
  <span>
    <a href="https://gitlab.com/rperce/dotnet.git"> Source </a>
  </span>
</footer>
<style>
  footer {
    font-size: small;
    display: flex;
    gap: 2em;
  }
</style>
