---
type Props = {
  navtabs: Array<{ to: string; show: string }>;
};
const { navtabs }: Props = Astro.props;
---

<header>
  <h1><a href="/">robert perce</a></h1>
  <nav>
    {
      navtabs.map(({ to, show }) => (
        <a href={to} class="current">
          {show}
        </a>
      ))
    }
  </nav>
</header>
<style>
  nav {
    display: flex;
    gap: 2rem;
  }
  header {
    margin-bottom: 1.45rem;
    padding-top: 1.45rem;
  }
  header a {
    color: black;
    text-decoration: none;
  }
</style>
<script>
  document.querySelectorAll("nav a").forEach((link) => {
    if (link instanceof HTMLLinkElement && link.href !== window.location.href) {
      link.classList.remove("current");
    }
  });
</script>
