---
import Art from "../components/Art.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Lato from "../components/Lato.astro";
import "../styles/css-reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Lato />
    <title>rperce.net</title>
  </head>
  <body>
    <div id="content">
      <Header navtabs={[{ to: "/", show: "home" }]} />
      <main>
        <slot />
      </main>
      <Footer />
      <Art />
    </div>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
      }
      main {
        flex-grow: 1;
      }
    </style>
    <style>
      #content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0px auto;
        max-width: 960px;
        padding: 0 1.0875rem 1.45rem;
      }
    </style>
  </body>
</html>
